<!DOCTYPE html>
<html>
<head>
  <!-- meow~ -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- бутстреп -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
	<!-- конец бутстреп -->
	<title></title>
	<!-- шрифт --> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" 
	rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body class="playfair-display">

	<!-- <nav class="navbar navbar-expand-ig navbar-dark bg-dark">
		
	</nav> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand">Astrocounts</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
<link rel="stylesheet" href="style.css">
  <header>
    <div class="overlay"></div>
    <div class="container">
      <div class="row" align="center">
        <h1 id="header_text">UHHHH IDK</h1>
      </div>
    <div class="row">
        <div class="col-5" class="">
            <p>uuuuuuuuuuuuuuhhhhhhhhhhhhhhhhhhhhhhuhuhhhhhhhhhhhhhhhhhhhhuuuuuuuuuuuuuuuuuuuuuuuuh
              uuuuuuuuuuuuuuhhhhhhhhhhhhhhhhhhhhhhuhuhhhhhhhhhhhhhhhhhhhhuuuuuuuuuuuuuuuuuuuuuuuuh
            </p>
        </div>
    </div>
  </div>
  </header>


	 <div class="container">
	  	<div id="crsl" class="carousel  carousel-fade carousel-dark slide"  data-bs-ride="carousel">
	  		<div class="carousel-indicators">
			    <button type="button" data-bs-target="#crsl" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			    <button type="button" data-bs-target="#crsl" data-bs-slide-to="1" aria-label="Slide 2"></button>
			    <button type="button" data-bs-target="#crsl" data-bs-slide-to="2" aria-label="Slide 3"></button>
			    <button type="button" data-bs-target="#crsl" data-bs-slide-to="3" aria-label="Slide 4"></button>
			 </div>
	  		<div class="carousel-inner">
	  			
	  			<div class="carousel-item" data-bs-keyboard="true" data-bs-pause="false" data-bs-interval="600">
	  				<img class="w-100" src="https://i.pinimg.com/originals/c3/dc/65/c3dc65a65743fba63e6764ed6a033d20.jpg">
	  				<div class="carousel-caption d-none d-md-block">
				        <h5>meow</h5>
				        <p>cute cat</p>
				     </div>
	  			</div>

	  			<div class="carousel-item" data-bs-keyboard="true" data-bs-pause="false" data-bs-interval="600">
	  				<img class="w-100" src="https://wp-s.ru/wallpapers/6/2/375319807619427/a-cat-with-green-eyes-in-the-grass-a-cat-in-the-meadow.jpg">
	  				<div class="carousel-caption d-none d-md-block">
				        <h5>meow</h5>
				        <p>second cute cat</p>
				     </div>
	  			</div>

	  			<div class="carousel-item" data-bs-keyboard="true" data-bs-pause="false" data-bs-interval="600">
	  				<img class="w-100" src="https://10wallpaper.com/wallpaper/1280x1024/1203/in_grass_cat-Life_of_the_cat_desktop_wallpaper_1280x1024.jpg">
	  				<div class="carousel-caption d-none d-md-block">
				        <h5>meow</h5>
				        <p>another cute cat</p>
				     </div>
	  			</div>
	            
	            <div class="carousel-item active" data-bs-keyboard="true" data-bs-pause="false" data-bs-interval="600">
	  				<img class="w-100" src="https://static.wikia.nocookie.net/regretevator/images/9/9c/Gnarpyrender1.png/revision/latest?cb=20231125164923">
	  				 <div class="carousel-caption d-none d-md-block">
				        <h5>🤬😡🤬😡🤬😡</h5>
				        <p>❗️❗️STUPID ALIEN CAT BROKE EVERYTHING AGAIN❗️❗️</p>
				     </div>
	  			</div>

	            <button class="carousel-control-prev" type="button" data-bs-target="#crsl" data-bs-slide="prev">
		            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		            <span class="visually-hidden">Previous</span>
	       		</button>

	       		<button class="carousel-control-next" type="button" data-bs-target="#crsl" data-bs-slide="next">
	       			<span class="carousel-control-next-icon" aria-hidden="true"></span>
	       			<span class="visually-hidden">Next</span>
	       		</button>
	  		</div>
	    </div>
	</div>  
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 </body>
</html>

