
body {
	background-image: url("../ojo.gif") ;			
}

.emoji {
	font-size: 35px;
	
}

.title {
	padding-top: 5%;
	padding-bottom: 5% ;
	color: #c7d6f1;
	
}

.title_main {
	font-size: 32px;
	text-align: center;
	color: rgb(215, 227, 250);
	text-shadow: 0 0 1px;
}

.title_text {
	font-size: 20px;
    text-align: center;
	color: rgb(215, 227, 250);
	text-shadow: 0 0 1px;

}

.feature__title{
	color: rgb(215, 227, 250);
	text-shadow: 0 0 1px;

}

.feature__text{
	color: #ffffff;
	text-shadow: 0 0 1px #c7d6f1;

}

.chakra-petch-regular {
	font-family: "Chakra Petch";
	font-weight: 400;
	font-style: normal;
  }
  
